extends ../../../components/layout/templates/index

block body
	for block in blocks	
		a(href="#{block.href()}").block
			.title=block.get('title')
			- if(block.has('image'))
				.block-inner
					img(src="#{block.resizeImage()}" alt="#{block.get('description')}")
			- if(block.has('text'))
				.block-inner.text=block.get('text')

	.credit 
		a(href="#") ?